.table
{
    border-spacing: 0px;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px;
}
.white
{
    height: 20px;
    width: 20px;
    background-color: rgb(156, 156, 156);
    padding: auto;
    
}

.black
{
    height: 20px;
    width: 20px;
    background-color: rgb(253, 0, 0);
    margin: 0px;
    padding: auto;
}

td:hover:active
{
    background-color: rgb(95, 95, 95);
}

.img1
{
    height:90%;
    width: auto;
}
