.table
{
    border-spacing: 0px;
    border: 2px solid black;
    border-collapse: collapse;
    margin: 5px;
}
.white
{
    height: 20px;
    width: 20px;
    background-color: rgb(156, 156, 156);
    padding: auto;
    
}

.black
{
    height: 20px;
    width: 20px;
    background-color: rgb(253, 0, 0);
    margin: 0px;
    padding: auto;
}

.selected
{
    background-color: rgb(9, 164, 9);
    height: 20px;
    width: 20px;
    margin: 0px;
    padding: auto;
}


.img1
{
    height:90%;
    width: auto;
}


.possible-move
{
    background-color: blue;
}